#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 13px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.1);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
